<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hooks Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hooks/style.css' %}">
</head>
<body>

<h2>Hooks - Webhook Manager</h2>

<img src="{% static "hooks/webhooks-logo-transparent.png" %}" alt="Webhooks Logo" width="100px">

<h4>Registered webhooks</h4>

{% if webhooks %}
<table border="1" padding="10px">
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>View</th>
        <th>Edit</th>
    </tr>
    {% for webhook in webhooks %}
    <tr>
        <td>{{ webhook.name }}</td>
        <td>{{ webhook.url }}</td>
        <td><a href="{% url 'webhook_view' pk=webhook.pk %}">View</a></td>
        <td><a href="{% url 'webhook_edit' pk=webhook.pk %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No webhooks registered</p>
{% endif %}

<p>
    <a href="{% url 'webhook_new'  %}">Register new webhook</a>
</p>


<h4>Webhooks registered for events</h4>

<p>
    Trigger an event to execute the registered webhooks for the event.
</p>

{% if webhooks_events %}
<table border="1">
    <tr>
        <th>Event</th>
        <th>Registered webhooks</th>
        <th>Trogger event</th>
    </tr>
    {% for event in events %}
    {% if webhooks_events %}
    <tr>
        <td> {{ event.name }}</td>
        <td>
            {% for webhook in webhooks_events|get_item:event.name %}
            {{ webhook }},
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'trigger' name=event.name %}">Trigger {{ event }}</a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% else %}
<p>No events available, please add events using <a href="/admin">Admin</a> interface</p> or using the
<a href="/api">API.</a>
{% endif %}

<h4>Admin and API</h4>

Event editing and Webhook deleting are restricted to Admin console or API.

<ul>
    <li><a href="/admin">Admin Console</a></li>
    <li><a href="/api-help">API Help</a></li>
    <li><a href="/api">API Console</a></li>
</ul>

<br>

<i>Please check the server logs, task queue logs and consumer logs to observe the webhook execution.</i>

</body>
</html>