<html>
<header>
    <title>Hooks</title>
</header>
<body>

<h1>Hooks</h1>
<h3>A Webhook Manager</h3>

<p>
    Register new webhook URLs with events using <a href="/admin">Admin</a> interface.
</p>
<p>
    Following events are pre-defined and can be triggered which will execute the registered webhooks for the event.
</p>

<ul>
    <li>Trigger <a href="trigger/create">Create</a> Event</li>
    <li>Trigger <a href="trigger/delete">Delete</a> Event</li>
    <li>Trigger <a href="trigger/update">Update</a> Event</li>
    <li>Trigger <a href="trigger/read">Read</a> Event</li>
</ul>

<p>
    This is a minimal interface please check the server logs, task queue logs and consumer logs to verify the webhook execution.
</p>

</body>
</html>