<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Event Triggered</title>
</head>
<body>

{% if event  %}
Triggered {{ event }} ...
{% else %}
<p>No event provided to trigger</p>
{% endif %}

<table border="0">
    <tr>
        <td><a href="{% url 'index' %}"><img src="{% static "hooks/webhooks-logo-transparent.png" %}" alt="Home"
            width="20px"></a></td>
        <td><a href="{% url 'index' %}">Home</a></td>
    </tr>
</table>

</body>
</html>