<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Event Triggered</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hooks/style.css' %}">
</head>
<body>

{% if event  %}
Triggered event "{{ event.name }}" ...
{% else %}
{% if name  %}
<p>
<font color="red">Invalid event "{{ name }}"</font>
</p>
{% else %}
<p>No event provided to trigger</p>
{% endif %}
{% endif %}

</br>
</br>

<table border="0">
    <tr>
        <td><a href="{% url 'index' %}"><img src="{% static "hooks/webhooks-logo-transparent.png" %}" alt="Home"
            width="20px"></a></td>
        <td><a href="{% url 'index' %}">OK</a></td>
    </tr>
</table>

</body>
</html>