<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View webhook</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hooks/style.css' %}">
</head>
<body>

<h2>View Webhook</h2>

{% if webhook %}
<table border="1">
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Registered with events</th>
        <th>Edit</th>
    </tr>
    <tr>
        <td>{{ webhook.name }}</td>
        <td>{{ webhook.url }}</td>
        <td>
            {% if events %}
            {{ events|join:", " }}
            {% endif %}
        </td>
        <td><a href="{% url 'webhook_edit' pk=webhook.pk %}">Edit</a></td>
    </tr>
</table>
{% else %}
<p>No webhook to edit</p>
{% endif %}

</br>
</br>

<table border="0">
    <tr>
        <td><a href="{% url 'index' %}"><img src="{% static "hooks/webhooks-logo-transparent.png" %}" alt="Home"
            width="20px"></a></td>
        <td><a href="{% url 'index' %}">OK</a></td>
    </tr>
</table>

</body>
</html>